<!DOCTYPE html>
<html>
  <head>
    
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


<body>

<%data.forEach((d)=>{%>
	<h5><%=d.name%></h5>
	<img src="<%=d.img%>" alt="">
	<%})%>

<body> 

</html>
